<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingspring.demo.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qingspring.demo.entity.Menu">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="path" property="path" />
        <result column="icon" property="icon" />
        <result column="description" property="description" />
        <result column="pid" property="pid" />
        <result column="page_path" property="pagePath" />
    </resultMap>
    <select id="getMenuByMenuId" resultType="com.qingspring.demo.entity.Menu">
        select id,name,path,icon,description,pid,page_path FROM sys_menu
        WHERE id = #{menuId}
    </select>

    <select id="getParentMenuByMenuId" resultType="com.qingspring.demo.entity.Menu"
            parameterType="java.lang.Integer">
        select id,name,path,icon,description,pid,page_path FROM sys_menu as m
            JOIN (SELECT pid as menuPid FROM sys_menu WHERE id = #{menuId}) as m1
            ON  m.id = m1.menuPid
    </select>

    <select id="getChildCountById" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT COUNT(id) FROM sys_menu as m
            JOIN (SELECT pid FROM sys_menu) as m1
            ON m.id = m1.pid
        WHERE m.id = #{menuId}
    </select>


</mapper>
